body {
    font-family: Arial, sans-serif;
    
}

h2 {
    margin-top: 2rem;
}

.card img {
    height: 200px;
    object-fit: cover;
}

header {
  background-color: #f8f9fa; /* Bootstrap’s light gray */
}

header h1 {
  margin-bottom: 0.5rem;
}

header p {
  margin-bottom: 0.5rem;
  color: #555;
}

/*Style for navbar*/
.custom-navbar {
  position: fixed;
}

/* Profile Photo Style */
.custom-profile-photo {  
  border: 2px solid black;
  box-shadow: 2px 4px 3px hsla(140, 100%, 51%, 0.1);
}

/* Style for site-wrapper*/
.site-wrapper {  
  max-width: 950px;
  margin: 2rem auto;
  padding: 2rem;
  border: 1px solid #000;        /* Optional: solid black border */
  background-color: hsl(0, 5%, 93%);     /* White content area */
  box-shadow: 5px -5px 3px hsla(111, 53%, 43%, 0.519) !important; /* Optional: soft shadow */
  border-radius: 8px;            /* Optional: rounded corners */
  margin-top: 190px; 
}

.global-background-color {
  background-color: hsl(0, 0%, 83%);
}


/* Personal Style for Hero Section*/
.custom-container {
  background-color: rgb(241, 239, 239); 
  border: 1px solid black;
  border-bottom: none;
  padding-top: 15px;
}

.about-text {
  line-height: 1.8;  
}

.section-title {
  width: 35%;  
  border-bottom: 3px solid #333;
  margin-left: auto;
  margin-right: auto;
     
}










