body {
    font-family: Arial, sans-serif;
}

h2 {
    margin-top: 2rem;
}

.card img {
    height: 200px;
    object-fit: cover;
}

/* Styles for emoji */
.wave {
    display: inline-block;
    animation: wave-animation 2s infinite;
    transform-origin: 70% 70%;
    font-size: 1.5em;
}

/* waving animation for emoji*/
@keyframes wave-animation {
    0% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(14deg);
    }

    20% {
        transform: rotate(-8deg);
    }

    30% {
        transform: rotate(14deg);
    }

    40% {
        transform: rotate(-4deg);
    }

    50% {
        transform: rotate(10deg);
    }

    60% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(0deg);
    }
}


